.abstract,
.canonical,
.field,
.virtual,
.uses,
.implements,
.applies,
.opt_uses {
    text-rendering: optimizeLegibility;
    margin: 0px;
    letter-spacing: initial;
    text-decoration: none;
    outline-style: solid;
    outline-color: #000000dd;
    outline-width: 1px;
    box-sizing: content-box;
    text-align: left;
    gap: 10px;
    width:auto;
    padding: 5px;
    padding-left: 50px;
    border-radius: 5px;
    cursor: pointer;
    order: 0;
    list-style-type: none;
}

.canonical {
    background-color: #a9bebc;
    width: 1000px
}

.abstract,
.virtual {
    background-color: #c7b3b5
}

.field {
    background-color: #f1f1f1;
    padding: 5px;
    padding-left: 10px;
    margin: 0
}

.uses,
.implements {
    background-color: #d8d6c5
}

.opt_uses,
.applies {
    background-color: #d2d4e1
}

.name {
    color: rgba(58, 58, 58, 100%);
    font: normal 16pt roboto, "Helvetica Neue", sans-serif;
}

.subName {
    color: rgba(78, 78, 78, 100%);
    font: normal 12pt roboto, "Helvetica Neue", sans-serif;
    padding-bottom: 6px;
}

.description {
    color: rgba(78, 78, 78, 100%);
    font: normal 10pt roboto, "Helvetica Neue", sans-serif;
    padding-bottom: 6px;
}
